<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="remoteService" class="org.ankus.web.core.RemoteServiceImpl">
        <property name="serviceMap">
            <map>
                <entry key="hive" value="org.ankus.provider.hive.HiveService"/>
                <entry key="job" value="org.ankus.provider.engine.JobService"/>
                <entry key="hdfs" value="org.ankus.provider.fs.FileSystemService"/>
                <entry key="audit" value="org.ankus.provider.fs.FileSystemAuditService"/>
                <entry key="engine" value="org.ankus.provider.engine.WorkflowEngineService"/>
                <entry key="cache" value="org.ankus.provider.engine.JobService"/>
                <entry key="monitoring" value="org.ankus.provider.engine.MonitoringEngineService"/>
                <entry key="module" value="org.ankus.provider.engine.JobService"/>
            </map>
        </property>
    </bean>

</beans>